{% extends 'base.html' %}
{% load static %}
{% block content %}

	<h2><h2>Contact today to get things on the road map</h2></h2>
	  <h3>Contact methods</h3>
	<p>
	Call or <a href="mailto:hmlaminatefitters@gmail.com">email</a> today for a no obligation conversation and to receive a timely, free, and competitive quote.
	</p>
	
        <p>
        <img src = "{% static "imagest/protective-equipment-work-in-an-asbestos-garage-800.jpg" %}">
        </p>
        <h4><b>Telephone</b></h4>
        <p> 07707 262 517</p>
        <h4><b>Email</b></h4
        <p>hmlaminatefitters@gmail.com</p>
        <h4><b>Address</b></h4>
        Sidcup High Street</br>
        Sidcup</br>
        Kent (Greater London)
        DA14 6DZ
        </p>

{% endblock %}

