{% extends 'base.html' %}
{% load static %}
{% block content %}

	<h2>Experts in laying laminate Flooring</h2>
	  <h3>About us</h3>
	<p>
	A small family run company, we are passionate about making your home a fantastic space.
	<p>
	We have twenty years of cumalative experience in laminate floor laying. 
        <p>
        <img src = "{% static "imagest/IMG-20210206-WA0026-800.jpg" %}">
        </p>
        <p>
        
        </p>
        <p>

        </p>
        <p>We have public liability insurance of up to a value of £500,000.</p>
        <p>
        All work is guarenteed and to a high standard. We offer very competitive prices for fitting and can help keep cost of flooring down too.
        </p>
        <p>
        We are licensed as required by law to take way any waste we create.
        </p>
        </br>

        
       
        
        <a href="https://www.mybuilder.com/profile/view/jm_building_services" target="_blank"><img src = "{% static "100percent-150.jpg" %}"></a>
        </br>
        <img src = "{% static "wastecarriers.png"%}">


{% endblock %}

