{% extends 'base.html' %}
{% load static %}
{% block content %}

	<h2>Experts in construction and demolition</h2>
	  <h3>Services</h3>
	<p>
	<ul>
          <li>Installing new laminate flooring, including underlay and beading</li>
          <li>Sanding and varnishing of existing wooden floors</li>
          <li>Cabinet making</li>
          <li>Decking Installation</li>
	  
	  

        </ul>
	</p>
	<p>
        <p>
        <img src = "{% static "images/22-10.jpg" %}">
        </p>

{% endblock %}
